<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.system.dal.mysql.employee.EmployeeMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

    <!--suppress MybatisXMapperXmlInspection -->
    <insert id="insertRetrunId"  parameterType="EmployeeDo">
        INSERT INTO system_tecreas_employee
        (employee_num,
         employee_name,
         employee_name_kana,
         avatar,
         sex,
         birthday,
         residece_card_id,
         residece_card_copy,
         mynumber_card_id,
         emply_cntrct_numbr,
         mobile,
         postcode,
         address,
         resume,
         dept_id,
         hire_date,
         status
         )
        VALUES
         concat("T","0009","20220903"),
         #{employeeName},
         #{employeeNameKana},
         #{avatar},
         #{sex},
         #{birthday},
         #{resideceCardId},
         #{resideceCardCopy},
         #{mynumberCardId},
         #{emplyCntrctNumbr},
         #{mobile},
         #{postcode},
         #{address},
         #{resume},
         #{deptId},
         #{hireDate},
         #{status}
        )
        <selectKey resultType="int" keyProperty="employeeNum" order="AFTER">
         select @@IDENTIFY
        </selectKey>
    </insert>

    <select id="returnMaxId" resultType="long" >
        select max(id) from system_tecreas_employee;
--         select last_insert_id() + 1 from system_tecreas_employee;
    </select>

</mapper>
